/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-01-29, 19:07:34
    Author     : szych
*/

.bootstrap-tagsinput {
    display: block;
}
::placeholder {
    color: #ccd0d2;
}
.warning-info{
    position: fixed;
    width: 200px;
    height: 115px;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    z-index: 100;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: white;
    font-size: 25px;
    align-items: center;
}
.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(152,203,232,.6);
}

.error-info{
    color: red;
}

.container{
    margin-bottom: 20px;
}